[submodule "deps"]
	path = deps
	url = https://github.com/SiliconStudio/paradox-deps.git
[submodule "ssnet-deps"]
	path = sources/common/deps
	url = https://github.com/SiliconStudio/ssnet-deps.git
[submodule "data"]
	path = sources/data
	url = https://github.com/SiliconStudio/paradox-data.git
[submodule "samples"]
	path = samples
	url = https://github.com/SiliconStudio/paradox-samples.git
