[submodule "deps"]
	path = deps
	url = https://github.com/SiliconStudio/xenko-deps.git
[submodule "ssnet-deps"]
	path = sources/common/deps
	url = https://github.com/SiliconStudio/ssnet-deps.git
[submodule "data"]
	path = sources/data
	url = https://github.com/SiliconStudio/xenko-data.git
[submodule "samples"]
	path = samples
	url = https://github.com/SiliconStudio/xenko-samples.git
