[submodule "deps"]
	path = deps
	url = ssh://git@tecsigma.siliconstudio.co.jp:7999/xk/deps.git
[submodule "common-deps"]
	path = sources/common/deps
	url = ssh://git@tecsigma.siliconstudio.co.jp:7999/ssnet/deps.git
[submodule "samplesdata2"]
	path = samples-old/data
	url = ssh://git@tecsigma.siliconstudio.co.jp:7999/xk/samplesdata2.git
[submodule "data"]
	path = sources/data
	url = ssh://git@tecsigma.siliconstudio.co.jp:7999/xk/xenkodata.git
[submodule "samples"]
	path = samples
	url = ssh://git@tecsigma.siliconstudio.co.jp:7999/xk/samples.git
[submodule "deps-restricted"]
	path = deps-restricted
	url = ssh://git@tecsigma.siliconstudio.co.jp:7999/xk/deps-restricted.git
[submodule "CoreFX"]
	path = externals/CoreFX
	url = https://github.com/manu-silicon/corefxref.git
