<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="GamePackages" />
    <!-- The list of valid main package names, separated by a comma (no space!) -->
    <add key="mainPackages" value="Xenko"/>
    <!-- The list of valid main package executable names, separated by a comma (no space!) -->
    <add key="mainExecutables" value="Bin\Windows\Xenko.GameStudio.exe,Bin\Windows-Direct3D11\Xenko.GameStudio.exe"/>
    <add key="vsixPlugin" value="SiliconStudio.Xenko.VisualStudio.Package"/>
    <add key="prerequisitesInstaller" value="Bin\Prerequisites\install-prerequisites.exe"/>
  </config>

  <packageRestore>
    <clear/>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="Xenko" value="https://packages.xenko.com/nuget" />
  </packageSources>

  <activePackageSource>
    <clear/>
    <!-- this tells only one given source is active -->
    <add key="Xenko official package source" value="https://packages.xenko.com/nuget" />
  </activePackageSource>

</configuration>
