<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="GamePackages" />
    <add key="mainPackage" value="Paradox"/>
    <add key="mainExecutable" value="Bin\Windows-Direct3D11\Paradox.GameStudio.exe"/>
    <add key="vsixPlugin" value="SiliconStudio.Paradox.VisualStudio.Package"/>
  </config>

  <packageRestore>
    <clear/>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="Paradox" value="https://store.paradox3d.net/api/v2/" />
  </packageSources>

  <activePackageSource>
    <clear/>
    <!-- this tells only one given source is active -->
    <add key="Paradox official package source" value="https://store.paradox3d.net/api/v2/" />
  </activePackageSource>

</configuration>
