/* Override answerhub theme */
html
{
    background: #ffffff;
}

body
{
    background: #ffffff;
    margin: 0px;
}

.submit
{
    background: #583069;
}

.navbar-inner
{
    background: #583069;
    padding: 5px 0 2px 0;
}

a:visited:not(.btn)
{
    color: #281A69;
}

.nav .active a:visited
{
    color: #ffffff;
}

a:hover, a:focus
{
    color: #ff7b3d;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus
{
    background-color: #583069;
}

.question-action a[rel='user']:hover, .question-list-item a[rel='user']:hover, .node-list-item a[rel='user']:hover
{
    color: #583069;
}

.tags .tag:hover
{
    color: #583069;
    text-decoration: none;
    background: #F0F0FD;
    border-color: #583069;
}