body,html {
	margin: 0;
	padding: 0;
}
#oss-main {
	margin-left: 200px;
}
#oss-facet {
	float: left;
	width: 200px;
}
#oss-header {
	width: 100%;
}
#oss-footer {
	width: 100%;
	clear: both;
}
#oss-wrap {
	width: 100%;
	margin:0 auto;
	min-width: 700px;
}
.osscmnrdr { font-family: arial,sans-serif;
font-size: 14px;
 }
.ossinputrdr { font-size:inherit;
 }
.ossbuttonrdr { font-size:inherit;
 }
#oss-login { float:right;}
#ossautocomplete { margin: 0;
cursor: pointer;
padding-left:3px;
padding-right:3px;
 }
#ossautocompletelist { background-color: #FFFFFF;
text-align: left;
border-left: 1px solid #D3D3D3;
border-bottom: 1px solid #D3D3D3;
border-right: 1px solid #D3D3D3;
 }
.ossautocomplete_link { color:#222222;
background-color: #FFFFFF;
padding: 2px 6px 2px 6px;
 }
.ossautocomplete_link_over { color:#222222;
background-color: #F5F5F5;
padding: 2px 6px 2px 6px;
 }
.ossnumfound { padding-bottom:10px;
padding-top:10px;
 }
.oss-paging { text-align: center;
 }
.oss-facet { padding: 1em;
 }
.ossfieldrdr1 { font-size:120%;
 }
.ossfieldrdr3 { color: #0E774A;
 }
