*.suo
*.csproj.user
*.vcxproj.user
*.ReSharper.user
*.DotSettings.user
_ReSharper.*
*.sdf
*.opensdf
*.i.cs
*.cache
*.tlog
*.log
*.obj
*.pdb
*.nvuser
*.exp
*.orig
*.shfbproj_*
*.dotCover
StyleCop.Cache
swig_lib
My Amplifier*
Debug
Release
CodeAnalyst
UpgradeLog*
Temp/
Bin/
ipch/
obj/
/externals/
doc/doc_output/
presentation/SiliconStudio.Presentation.Samples/Binaries/