<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VSSDK.CoreUtility" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.CoreUtility.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Editor" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Editor.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.IDE" version="7.0.3" targetFramework="net451" />
  <package id="VSSDK.IDE.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.IDE.8" version="8.0.3" targetFramework="net451" />
  <package id="VSSDK.Language" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Language.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.OLE.Interop" version="7.0.3" targetFramework="net451" />
  <package id="VSSDK.Shell.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Shell.Interop" version="7.0.3" targetFramework="net451" />
  <package id="VSSDK.Text" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Text.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.TextManager.Interop" version="7.0.3" targetFramework="net451" />
  <package id="VSSDK.TextManager.Interop.8" version="8.0.3" targetFramework="net451" />
</packages>