<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VSSDK.CoreUtility.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Editor.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Language.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Shell.11" version="11.0.3" targetFramework="net451" />
  <package id="VSSDK.Text.11" version="11.0.3" targetFramework="net451" />
</packages>